body {
    padding: 0px;
    margin: 0px;
}

.body {
    text-align: center;
}

#chart-container {
    display: inline-block;
    margin-top: 10px;
    height: 50%;
    width: 95%;
}

#bottom-container {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 50px;
}

